<div class="row">
  <div class="input-field name-container">
    <input type="text" class="validate rule-name-input" value="{{name}}">
    <label class="active">Rule Name</label>
  </div>
  <div class="rule-status-container">
    <span class="title margin-r-0-5">Status</span>
    {{> StatusToggle}}
  </div>
</div>

<div class="row">
  <div class="input-field description-container">
    <input type="text" class="rule-description" value="{{description}}">
    <label class="active">Rule Description (Optional)</label>
  </div>
</div>
