<div class="buttons-container">
  {{#if isViewMode}}
    <a class="btn btn-link close-editor">Close</a>
  {{else}}
    <a class="btn save-rule">Save</a>
    <a href="#" class="btn btn-link">Cancel</a>
  {{/if}}
</div>