<nav class="content-header">
  <span>Shared List</span>
  <div class="right right-corner-icongroup">
    <button class="import-rules-button action-button btn btn-primary">Import List</button>
  </div>
</nav>
