<nav class="content-header rq-dimgrey">
  <span>Rules</span>
  <div class="right right-corner-icongroup">
    <a class="btn-floating btn-small waves-effect waves-light blue import-rules-button action-button"
       data-toggle="tooltip" data-placement="bottom" data-original-title="Upload Rules">
      <i class="fa fa-upload"></i>
    </a>
  </div>
</nav>
