<span title="Click to toggle Rule Status">
  <input type="checkbox" data-toggle="toggle" class="status-toggle" data-on="Active" data-off="Inactive"
         {{#equals status "Active"}}checked{{/equals}} />
</span>