<span title="Click to toggle Rule Status">
  <input type="checkbox" data-toggle="toggle" class="status-toggle" data-on="{{RULE_STATUS.ACTIVE}}"
         data-off="{{RULE_STATUS.INACTIVE}}" {{#equals status RULE_STATUS.ACTIVE}}checked{{/equals}} />
</span>