<nav class="content-header rq-dimgrey">
  <span>Rules</span>
  <span class="rules-number badge">{{ rules.length }}</span>
  <div class="right right-corner-icongroup">

    <a href="#selectRule" class="btn-floating btn-small btn-success waves-effect waves-light select-rule-button">
      <i class="fa fa-plus"></i>
    </a>

    {{#gt rules.length 0}}
      <a class="btn-floating btn-small waves-effect waves-light blue export-rules-button"
         data-toggle="tooltip" data-placement="bottom" data-original-title="Download">
        <i class="fa fa-download"></i>
      </a>
    {{/gt}}

    <a class="btn-floating btn-small waves-effect waves-light blue import-rules-button"
       data-toggle="tooltip" data-placement="bottom" data-original-title="Upload">
      <i class="fa fa-upload"></i>
    </a>

    <!--
    <a href="#settings/requestly" role="button" class="settings-button">
      <span class="glyphicon glyphicon-cog settings-icon"></span>
    </a>
    -->
  </div>
</nav>