<nav class="rule-header">
  <span>Block/Cancel Network Request</span>
</nav>

<section class="rule-body">
  {{> RuleProperties}}

  <div class="title">
    <span class="left">Enter Keywords or Urls or Domains to be blocked</span>
    <button class="right btn add-pair">
      <span class="glyphicon glyphicon-plus-sign action-icon"></span>
      <span>New</span>
    </button>
  </div>

  <div class="pairs-container">
    {{#each pairs}}
      <div class="well well-sm pair-container" data-index="{{@index}}">
        {{> SourceField RULE_OPERATORS=../RULE_OPERATORS}}
      </div>
    {{/each}}
  </div>

  <div class="buttons-container">
    <a class="btn btn-success save-button save-rule">Save</a>
    <a href="#" class="btn btn-default">Cancel</a>
  </div>
</section>