{{> RuleEditorHeader heading="Block/Cancel Network Requests" }}

<section class="rule-body">
  {{> RuleProperties}}

  {{> PairsContainerHeading heading="Enter Keywords or Urls or Domains to be blocked" }}
  <div class="pairs-container">
    {{#each pairs}}
      <div class="well well-sm pair-container" data-index="{{@index}}">
        {{> SourceField }}
      </div>
    {{/each}}
  </div>

  {{> SaveRuleCTA }}
</section>