{{> RuleEditorHeader heading="Redirect Request Rule" }}

<section class="rule-body">
  {{> RuleProperties}}

  {{> PairsContainerHeading heading="Source Destination Pairs" }}

  <div class="pairs-container">
    {{#each pairs}}
      <div class="well well-sm pair-container" data-index="{{@index}}">
        {{> SourceField }}

        <div class="row">
          <div class="destination-container">
            <label class="active">Destination</label>
            <input type="url" class="destination-url-input form-control" data-key="destination" value="{{destination}}"
                   placeholder="{{destinationPlaceholder}}">
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  {{> SaveRuleCTA }}
</section>