<nav class="rule-header rq-green">
  <a href="#selectRule" role="button" class="back-button glyphicon glyphicon-share-alt" aria-hidden="true" title="Go Back"></a>
  <span>Redirect Request Rule</span>
</nav>

<section class="rule-body">
  {{> RuleProperties}}

  <div class="title">
    <span class="left">Source Destination Pairs</span>
    <button class="right btn add-pair">
      <span class="glyphicon glyphicon-plus-sign action-icon"></span>
      <span>New</span>
    </button>
  </div>

  <div class="pairs-container">
    {{#each pairs}}
      {{> SourceField}}

      <div class="well well-sm pair-container" data-index="{{@index}}">
        <div class="input-group destination-container">
          <span class="input-group-addon">Destination</span>
          <input type="url" class="form-control destination-url-input" data-key="destination"
             placeholder="{{destinationPlaceholder}}" value="{{destination}}">
        </div>
      </div>
    {{/each}}
    </div>
  </div>

  <div class="buttons-container">
    <a class="btn btn-success save-rule">Save</a>
    <a href="#" class="btn btn-default">Cancel</a>
  </div>
</section>