<nav class="content-header">
  <a href="#" role="button" class="back-button glyphicon glyphicon-share-alt" aria-hidden="true" title="Go Back"></a>
  <span>Requestly Settings</span>
</nav>

<section class="settings-body">
  <div class="toggle-extension-setting">
    <span title="Click to toggle Requestly">
      <input type="checkbox" data-toggle="toggle" class="extension-toggle" data-on="Enabled" data-off="Disabled"
           {{#equals isExtensionEnabled true}}checked{{/equals}} />
      <p class="setting-description">
        If you disable Requestly, no Rules will be executed.
      </p>
    </span>
  </div>
</section>
