<nav class="content-header rq-dimgrey">
  <a href="#" role="button" class="back-button glyphicon glyphicon-share-alt" aria-hidden="true" title="Go Back"></a>
  <span>Select Rule</span>
</nav>
<section class="rule-body">
  <div class="panel panel-redirect-rule" data-target="#new/Redirect">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span>Redirect Request</span>
      </h3>
    </div>
    <div class="panel-body">
      Redirect a request URL
    </div>
  </div>

  <div class="panel panel-cancel-rule" data-target="#new/Cancel">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span>Cancel Request</span>
      </h3>
    </div>
    <div class="panel-body">
      Cancel a request
    </div>
  </div>

  <div class="panel panel-replace-rule" data-target="#new/Replace">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span>Replace Host</span>
      </h3>
    </div>
    <div class="panel-body">
      Replace host name in a URL
    </div>
  </div>

  <div class="panel panel-headers-rule" data-target="#new/headers">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span>Modify Headers</span>
      </h3>
    </div>
    <div class="panel-body">
      Modify HTTP headers in request and response
    </div>
  </div>
</section>
