<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4><i class="fa fa-user"></i> Login with:</h4>
      <a class="btn-sm-full gplus-bg rectangle waves-effect waves-light auth-provider" data-provider="google">
        <i class="fa fa-google-plus"></i>
        <span>Google +</span>
      </a>
      <a class="btn-sm-full fb-bg rectangle waves-effect waves-light auth-provider" data-provider="facebook">
        <i class="fa fa-facebook"> </i>
        <span>Facebook</span>
      </a>
      </div>
  </div>
</div>
